*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--textColor);
}

:root{
    --gradientColor: linear-gradient(to right, rgb(17, 17, 211), rgb(47, 223, 223));
    --gradientColorLight: linear-gradient(to right, rgb(62, 143, 235), rgb(47, 223, 223));
    --textColor: rgb(53, 52, 52);
}

.App{
    height: 100vh;
    background-image: url("../public/images/clouds-ex.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

