.box{
    width: 8rem;
    height: 8rem;
    box-shadow: 2px 7px 13px 0px rgba(0,0,0,0.75);
    border-radius: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor);
}

i{
    font-size: 2rem;
    margin-top: 0.6rem;
}

p{
    margin-top: .8rem;
    font-size: 1rem;
    font-weight: bold;
}